In [1]:
#1) Examen
import numpy as np
print ('Examen')

Examen

In [2]:
#2) Crear un vector de ceros de tamaño 10
vector_diez= np.zeros(10)
vector_diez

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [3]:
#3) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1
vector_diez= np.zeros(10)
vector_diez[5]= 1
vector_diez

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

In [4]:
#4) Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.
vector_cincuenta = np.arange(50)
vector_cincuenta_invertido = vector_cincuenta[::-1]
vector_cincuenta_invertido

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [5]:
#5) Crear una matriz de 3 x 3 con valores del cero al 8
matriztres_por_tres = np.arange(9).reshape(3,3)
matriztres_por_tres

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [6]:
#6) Encontrar los indices que no sean cero en un arreglo
import numpy as np
arreglo = [1,2,0,0,4,0]
nuevo_arreglo= np.nonzero(arreglo)
nuevo_arreglo

(array([0, 1, 4], dtype=int64),)

In [7]:
#7) Crear una matriz de identidad 3 x 3
matriz_identidad = np.identity(3)
matriz_identidad

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [8]:
#8 Crear una matriz 3 x 3 x 3 con valores randomicos
matriztres_por_tres = np.random.rand(3,3)
matriztres_por_tres

array([[0.21227267, 0.44956375, 0.71609834],
       [0.49475855, 0.96570873, 0.35125754],
       [0.43718996, 0.59657245, 0.01657848]])

In [10]:
#9) Crear una matriz 10 x 10 y encontrar el mayor y el menor
nueva_matriz = np.random.rand(10,10)
nueva_matriz

array([[0.76158393, 0.81397642, 0.38652446, 0.7941923 , 0.64349947,
        0.88352642, 0.05325137, 0.00477104, 0.33799062, 0.14148713],
       [0.34106026, 0.76952895, 0.8492052 , 0.37455947, 0.30155049,
        0.94299983, 0.35029209, 0.20718739, 0.62989003, 0.36345039],
       [0.89269363, 0.27545368, 0.37166931, 0.30827942, 0.2057975 ,
        0.00160769, 0.84333884, 0.00935146, 0.17930855, 0.20012357],
       [0.53491037, 0.79357781, 0.6682869 , 0.30694167, 0.41620179,
        0.40904812, 0.02709323, 0.9460889 , 0.15586865, 0.16587317],
       [0.13662674, 0.22117616, 0.59548174, 0.18347213, 0.64960083,
        0.05854686, 0.06146656, 0.14226281, 0.14080039, 0.80345256],
       [0.28060518, 0.69113186, 0.59677505, 0.60220872, 0.76532829,
        0.56762497, 0.04548208, 0.45846277, 0.62068783, 0.71620973],
       [0.3258113 , 0.00871287, 0.99491795, 0.15727338, 0.26226934,
        0.23955315, 0.6038722 , 0.20542957, 0.48516707, 0.13390724],
       [0.94436178, 0.42567175, 0.51832323, 0.75200909, 0.13370697,
        0.77019015, 0.09390956, 0.98231326, 0.88759379, 0.61874797],
       [0.00431393, 0.01404187, 0.63885625, 0.76570844, 0.09660637,
        0.64751317, 0.35499237, 0.02558762, 0.22824017, 0.5089483 ],
       [0.11146275, 0.93129052, 0.93781339, 0.19530137, 0.28399179,
        0.78707104, 0.77356538, 0.53152736, 0.75857879, 0.68038023]])

In [11]:
#10) Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import misc
import io
import requests
mapache = misc.face()
plt.imshow(mapache)
plt.show()

color = np.array(mapache)
print(color)

[[[121 112 131]
  [138 129 148]
  [153 144 165]
  ...
  [119 126  74]
  [131 136  82]
  [139 144  90]]

 [[ 89  82 100]
  [110 103 121]
  [130 122 143]
  ...
  [118 125  71]
  [134 141  87]
  [146 153  99]]

 [[ 73  66  84]
  [ 94  87 105]
  [115 108 126]
  ...
  [117 126  71]
  [133 142  87]
  [144 153  98]]

 ...

 [[ 87 106  76]
  [ 94 110  81]
  [107 124  92]
  ...
  [120 158  97]
  [119 157  96]
  [119 158  95]]

 [[ 85 101  72]
  [ 95 111  82]
  [112 127  96]
  ...
  [121 157  96]
  [120 156  94]
  [120 156  94]]

 [[ 85 101  74]
  [ 97 113  84]
  [111 126  97]
  ...
  [120 156  95]
  [119 155  93]
  [118 154  92]]]

In [12]:
# 11) ¿Como crear una serie de una lista, diccionario o arreglo?
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
mylist

['a',
 'b',
 'c',
 'e',
 'd',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [13]:
myarr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [14]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [15]:
nueva_serie = pd.Series(mylist)
nueva_serie

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [16]:
nueva_serie_uno = pd.Series(myarr)
nueva_serie_uno

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [17]:
nueva_serie_dos = pd.Series(mydict)
nueva_serie_dos

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [18]:
# 12) ¿Como convertir el indice de una serie en una columna de un DataFrame?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict) 
# Transformar la serie en dataframe y hacer una columna indice

In [19]:
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [20]:
df = pd.DataFrame(ser.index)
df

    0
0   a
1   b
2   c
3   e
4   d
5   f
6   g
7   h
8   i
9   j
10  k
11  l
12  m
13  n
14  o
15  p
16  q
17  r
18  s
19  t
20  u
21  v
22  w
23  x
24  y
25  z

In [21]:
# 13) ¿Como combinar varias series para hacer un DataFrame?
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [23]:
ser1

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [24]:
ser2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [25]:
df = pd.DataFrame({'columna1':ser1, 'columna2':ser2})
df

   columna1  columna2
0         a         0
1         b         1
2         c         2
3         e         3
4         d         4
5         f         5
6         g         6
7         h         7
8         i         8
9         j         9
10        k        10
11        l        11
12        m        12
13        n        13
14        o        14
15        p        15
16        q        16
17        r        17
18        s        18
19        t        19
20        u        20
21        v        21
22        w        22
23        x        23
24        y        24
25        z        25

In [26]:
# 14) ¿Como obtener los items que esten en una serie A y no en una serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [27]:
ser1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
ser2

0    4
1    5
2    6
3    7
4    8
dtype: int64

In [29]:
item= ser1.isin(ser2)
ser1[np.invert(item)]
item2= ser2.isin(ser1)
ser2[np.invert(item2)]
print(ser1[np.invert(item)],ser2[np.invert(item2)])

0    1
1    2
2    3
dtype: int64 2    6
3    7
4    8
dtype: int64

In [31]:
#15) ¿Como obtener los items que no son comunes en una serie A y serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
items_comunes = pd.Series(list(set(ser1).intersection(set(ser2))))
print(items_comunes)

0    4
1    5
dtype: int64

In [32]:
#16) ¿Como obtener el numero de veces que se repite un valor en una serie?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser

0     b
1     a
2     h
3     e
4     f
5     g
6     g
7     h
8     e
9     g
10    b
11    e
12    h
13    b
14    b
15    b
16    d
17    g
18    e
19    d
20    e
21    a
22    d
23    c
24    b
25    h
26    g
27    a
28    b
29    h
dtype: object

In [33]:
print(type(ser))
ser.value_counts()

<class 'pandas.core.series.Series'>

b    7
g    5
h    5
e    5
a    3
d    3
f    1
c    1
dtype: int64

In [34]:
# 17) ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [35]:
# 18) ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un shape definido?
ser = pd.Series(np.random.randint(1, 10, 35))
shape(7,5)

NameError: name 'shape' is not defined

In [36]:
# 19) ¿Obtener los valores de una serie conociendo la posicion por indice?
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# a e i o u
print(ser[pos])

0     a
4     e
8     i
14    o
20    u
dtype: object

In [37]:
# 20) ¿Como anadir series vertical u horizontalmente a un DataFrame?
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
# vertical
df = pd.DataFrame({'index': ser1,'letter': ser2})
print(df)
#horizontal

   index letter
0      0      a
1      1      b
2      2      c
3      3      d
4      4      e

In [38]:
# 21)¿Obtener la media de una serie agrupada por otra serie?
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

# Los valores van a cambiar por ser random
# apple     6.0
# banana    4.0
# carrot    5.8
# dtype: float64
print(pesos.tolist())
print(frutas.tolist())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['manzana', 'manzana', 'manzana', 'banana', 'manzana', 'zanahoria', 'zanahoria', 'zanahoria', 'zanahoria', 'banana']
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['manzana', 'manzana', 'manzana', 'banana', 'manzana', 'zanahoria', 'zanahoria', 'zanahoria', 'zanahoria', 'banana']

In [39]:
# 22)¿Como importar solo columnas especificas de un archivo csv?
url="https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
df = pd.DataFrame(c)
df = df[["age","tax"]]
print(df)

       age  tax
0     65.2  296
1     78.9  242
2     61.1  242
3     45.8  222
4     54.2  222
5     58.7  222
6     66.6  311
7     96.1  311
8    100.0  311
9     85.9  311
10    94.3  311
11    82.9  311
12    39.0  311
13    61.8  307
14    84.5  307
15    56.5  307
16    29.3  307
17    81.7  307
18    36.6  307
19    69.5  307
20    98.1  307
21    89.2  307
22    91.7  307
23   100.0  307
24    94.1  307
25    85.7  307
26    90.3  307
27    88.8  307
28    94.4  307
29    87.3  307
..     ...  ...
476   93.6  666
477   97.3  666
478   96.7  666
479   88.0  666
480   64.7  666
481   74.9  666
482   77.0  666
483   40.3  666
484   41.9  666
485   51.9  666
486   79.8  666
487   53.2  666
488   92.7  711
489   98.3  711
490   98.0  711
491   98.8  711
492   83.5  711
493   54.0  391
494   42.6  391
495   28.8  391
496   72.9  391
497   70.6  391
498   65.3  391
499   73.5  391
500   79.7  391
501   69.1  273
502   76.7  273
503   91.0  273
504   89.3  273
505   80.8  273

[506 rows x 2 columns]